/* Reset e configurações iniciais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
}

.container {
    max-width: 1160px;
    margin: 0 auto;
}

/* Header */
header {
    padding: 1.25rem 1.25rem 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .brand {
    display: flex;
    align-items: center;
    gap: 1rem;
}

header .brand img {
    width: 2.5rem;
}

header .brand h1 {
    font-size: 1.5rem;
    color: #01528A;
    font-weight: 400;
    line-height: 2rem;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}

header nav li {
    font-weight: 300;
    line-height: 2rem;
}

header nav a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    padding-bottom: 1rem;
}

header nav a:hover,
header nav a.active {
    color: #0889d4;
}

header nav a.active {
    font-weight: 500;
    border-bottom: 2px solid #0889d4;
}

header nav button {
    background-color: #0889d4;
    color: #fff;
    border: none;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.875rem;
    padding: 0.5rem 1.25rem;
    border-radius: 0.25rem;
    margin-left: 1rem;
}

/* Banner */
#banner {
    height: 500px;
    border: 1px solid #dcdceb;
    background-color: #fff;
    border-radius: 0.625rem;
    color: #01528A;
    background-image: url(../img/background-house.png);
    background-repeat: no-repeat;
    background-position: right;
}

#banner .banner-content {
    width: 650px;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0), #fff 50%);
}

#banner h3 {
    margin: 0;
}

#banner .banner-body1 {
    padding: 3.75rem 0 0 2.8rem;
    font-size: 4rem;
    font-weight: 300;
}

#banner .banner-body2 {
    margin-top: 1rem;
    margin-left: 2.8rem;
    font-weight: 500;
    font-size: 1.4rem;
}

/* Seções */
section {
    margin-top: 4rem;
}

section h2 {
    padding: 2rem 0;
    font-weight: 300;
    text-align: center;
    font-size: 2.5rem;
    color: #01528A;
    margin: 2rem 0;
}

/* Cards */
#cards .cards-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#cards .card {
    width: 530px;
    display: flex;
    gap: 1rem;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    border-radius: 0.6rem;
    margin-bottom: 3rem;
    padding: 1rem;
    position: relative;
}

#cards .card img {
    width: 160px;
    height: 180px;
}

#cards .card h4 {
    font-weight: 400;
    margin-bottom: 0.8rem;
}

#cards .card p {
    font-weight: 300;
    color: #8F90A6;
    text-align: justify;
    max-height: 4.5rem;
    overflow: hidden;
    margin-bottom: 1.3rem;
}

#cards .card-price {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}

#cards .card-price p {
    background-color: #0889d4;
    color: #fff;
    font-size: 1rem;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    margin: 0;
}

/* Razões */
#reason .reasons-content {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

#reason .reason {
    text-align: center;
    border-left: 2px solid #0889d4;
    padding: 0 1.5rem;
}

#reason .reason:first-of-type {
    border-left: none;
}

#reason .reason p {
    text-align: center;
}

#reason .reason-value {
    font-size: 2rem;
}

#reason .reason-label {
    font-size: 1.5rem;
    font-weight: 300;
    color: #8F90A6;
}


#specialist .specialist-content {
    display: flex;
    flex-wrap: wrap;
    /* Permite quebra de linha em telas menores */
    justify-content: space-between;
    gap: 2rem;
}

#specialist .specialist {
    flex: 1 1 30%;
    /* Cada card ocupa até 30% do espaço, ajustando-se ao layout */
    border: 1.5px solid #dcdceb;
    border-radius: 0.625rem;
    padding: 1.5rem;
    color: #01528A;
}

#specialist h4 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
}

#specialist p {
    font-size: 0.8rem;
    font-weight: 300;
    margin: 0;
}

#specialist .specialist-detail {
    color: black;
    font-size: 1rem;
    font-weight: 300;
    text-align: justify;
    padding-top: 1rem;
}

#values {}

#values .values-content {
    display: flex;
    gap: 1.5rem;
}

#values .values-text {
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem;
    gap: 1rem;
}

#values .values-text p {
    font-size: 1.1rem;
    text-align: justify;
    font-weight: 300;
}

#values .values-text .values-detail {
    padding: 1.5rem;
}

#values .values-detail .value {
    display: flex;
    justify-content: space-between;
    padding: 0.25rem;
}

#values .value p {
    background-image: url('../img/bullet-values.svg');
    background-repeat: no-repeat;
    background-position-y: center;
    padding-left: 1.5rem;
    font-weight: 500;
}


footer {
    background-color: #0889d4;
    color: white;
    padding: 3rem 0;
    margin-top: 3rem;
}

footer .footer-content {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-bottom: 2rem;
}

footer .footer-company {
    width: 450px;
}

footer .footer-company p {
    font-size: 1rem;
    font-weight: 300;
}

footer .footer-brand {
    background-image: url('../img/logo_imobiliaria_branca.svg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: 2rem;
    padding-left: 2.5rem;
    line-height: 2rem;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

footer .footer-menu {
    font-size: 1rem;
    font-weight: 300;
}

footer .footer-menu-title {
    font-weight: 400;

}

footer .footer-menu ul {
    list-style: none;
    margin-top: 1rem;

}

footer .footer-menu li {
    margin-bottom: 0.5rem;

}

footer .footer-menu a {
    color: white;
    text-decoration: none;
}

footer .footer-menu a:hover {
    text-decoration: underline;
}


footer .footer-social {
    display: flex;
    justify-content: center;
    padding-top: 3rem;
    gap: 1rem;

}

footer .footer-social span {
    padding: 1rem;
    background-position: center;
    background-repeat: no-repeat;

}


.facebook {
    background-image: url('../img/icon-facebook.svg');

}

.twitter {
    background-image: url('../img/icon-twitter.svg');

}

.instagram {
    background-image: url('../img/icon-instagram.svg');

}

.linkedin {
    background-image: url('../img/icon-linkedin.svg');

}


footer .footer-copyright p {
    text-align: center;
    font-size: 0.8rem;
    font-weight: 300;
    padding-top: 1.5rem;

}